.form {
  display: flex;
  height: 12%;
  border: 2px solid #f1c880;
}

.input {
  background-color: #1a1a1d;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.input,
select,
textarea {
  color: #f1c880;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #1a1a1d !important;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  background: #f1c880;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .form {
    height: 8%;
  }

  .sendButton {
    width: 30%;
  }
}
