.textContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 50px;
  color: #f1c880;
  height: 60%;
  width: 35%;
  justify-content: space-around;
}

.users {
  width: 30%;
}

.movieData {
  width: 58%;
}

li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

.movieData > img {
  width: 90%;
}

.movieData > ul {
  padding: 0;
}

.activeContainer {
  display: flex;
  align-items: center;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  border-bottom: 2.5px solid #f1c880;
  text-transform: uppercase;
}

.textContainer h2 {
  font-weight: normal;
}

span {
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
