html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
  padding: 1rem;
}

.posterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  width: 40%;
}

.joinPoster {
  width: 68%;
  margin-left: 10rem;
}

.joinInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.joinTitle {
  color: white;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  width: auto;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1b1c7b;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 500px) {
  .joinOuterContainer {
    height: 100%;
    flex-direction: column;
  }
  .joinInnerContainer {
    width: 80%;
    padding-top: 2rem;
  }

  .joinPoster {
    width: 68%;
    margin: 0;
  }

  .posterContainer {
    padding: 0;
    width: 100%;
  }
}

button:focus {
  outline: 0;
}
