html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  height: 100vh;
  background-image: url(../../Icons/tile.jpg);
  background-color: #1a1a1d;
}

.signIn {
  display: flex;
  margin-top: 6%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.posterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  width: 40%;
}

.joinPoster {
  width: 68%;
  margin-left: 10rem;
}

.joinInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.joinInput {
  border: 3px solid #f1c880;
  color: #f1c880;
  padding: 15px 20px;
  width: 100%;
  background-color: #1a1a1d;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.joinTitle {
  display: flex;
  justify-content: center;
  width: auto;
}

.admit {
  content: url(../../Icons/admit.png);
  width: 85%;
}

.button {
  color: #1a1a1d !important;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  background: #f1c880;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.secondaryHeader {
  padding: 1rem;
  width: 100%;
  display: block;
  position: relative;
}

.secondaryImg {
  position: relative;
  float: left;
  left: 16%;
  top: 50px;
  content: url(../../Icons/logo.png);
  height: 100%;
  width: 6%;
}

.mt-20 {
  margin-top: 20px;
}

::placeholder {
  color: #f1c880;
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 500px) {
  .signIn {
    flex-direction: column;
  }
  .joinInnerContainer {
    width: 80%;
    padding-top: 2rem;
  }

  .secondaryImg {
    position: relative;
    left: 8%;
    top: 32px;
    width: 13%;
  }

  .joinPoster {
    width: 68%;
    margin: 0;
  }

  .posterContainer {
    padding: 0;
    width: 100%;
  }
}

button:focus {
  outline: 0;
}
