.infoBar {
  height: auto;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: #f1c880;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: lighter;
  margin: 0;
}

.infoBar > p {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem 0;
  font-size: 1.9rem;
}
