html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(../../fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(../../fonts/Oswald/Oswald-Regular.ttf) format("truetype");
}

.movieOuterContainer {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #1a1a1d;
  background-image: url(../../Icons/tile.jpg);
  padding-bottom: 1rem;
  height: 100vh;
  overflow-x: auto;
}

.moviePosters {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  font-family: OpenSans;
  margin: 0;
}

p {
  font-family: "Lucida Sans Unicode";
}

.moviePosters > ul {
  --auto-grid-min-size: 20rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  list-style-type: none;
  gap: 0.5rem;
  padding: 0;
}

.moviePosters > ul > li > figure {
  max-height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}

.moviePosters > ul > li > figure > img {
  width: 100%;
}

.poster {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.headerImg {
  content: url(../../Icons/header.png);

  height: 100%;
}
